@-webkit-keyframes bounce_in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce_in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.bounce_in {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: bounce_in;
          animation-name: bounce_in;
}

@-webkit-keyframes fade_in_up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fade_in_up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fade_in_up {
  -webkit-animation-name: fade_in_up;
          animation-name: fade_in_up;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body {
  display: none;
}

#navbar_right_side > * {
  margin-left: 5px;
}

.cart_btn {
  width: 38px;
  height: 38px;
}

.cart_btn img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.modal-header {
  text-transform: uppercase;
}

#loading-screen {
  font-size: 40px;
  -webkit-animation: spin .8s infinite;
          animation: spin .8s infinite;
}

.cart_item {
  margin-bottom: 20px;
}

.item_name {
  text-transform: uppercase;
  font-size: 18px;
}

#order_placed p {
  font-weight: bold;
}

#order_placed img {
  width: 100px;
  height: 100px;
}

.menu_tables {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
}

.menu_tables .table_head {
  padding: 12px 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu_tables .table_body img {
  width: 14px;
}

.menu_tables .table_body > .col-12 > .row {
  padding: 10px 0;
}

.menu_tables select {
  width: 60px;
}

@media (max-width: 575px) {
  .table_head {
    text-align: center;
  }
}

#footer-text {
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */